# Experiments

## Quesion 1
### **Programs on selection and Iteration options**
* Get an integer input from a user. If the number is odd, then find the factorial of a number and find the number of digits in the factorial of the number. If the number is even then check the number is palindome or not.

In [3]:
#Functions for micro processes

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

def count_digits(number):
    count = 0
    while number != 0:
        number //= 10
        count += 1
    return count

def is_palindrome(number):
    num_str = str(number)
    return num_str == num_str[::-1]

# Start of the program
num = int(input("Enter an integer: "))

if num % 2 == 1:  # Odd number
    fact = factorial(num)
    digit_count = count_digits(fact)
    print(f"The factorial of {num} is: {fact}")
    print(f"The number of digits in the factorial of {num} is: {digit_count}")
else:  # Even number
    if is_palindrome(num):
        print(f"{num} is a palindrome.")
    else:
        print(f"{num} is not a palindrome.")

Enter an integer: 8
8 is a palindrome.

## Quesion 2
### **String and is operaions**
* Given two strings, PRINT (YES or NO) weaher he second string can be obtained from he first by deleteion of none, one or more characters.

In [5]:
def subset_checker(population, sample):
  for i in range(len(population)):
    if population[i] == sample[0]:
      if population[i:i+len(sample)] == sample:
        return True
  return False

inp = input()
inp = inp.lower()
text = "METHIONYLTHREONYLTHREONYGLUTAMINYLARGINYLISOLEUCINE"
text = text.lower()

subset_checker(text, inp)

tami

True

## Quesion 3
### **List and its operations**
* Program for positive and negative indexing
* Program to check if the given list is in ascending order or not

In [6]:
lis = [1, 3, 5, 7, 8, 4]

print(lis[2])
print(lis[-1])
print(lis[1:4])
print(lis[1:4:2])

5
4
[3, 5, 7]
[3, 7]

In [7]:
lis = [1, 2, 3, 4, 5, 6, 7, 8,9]
lis1 = [1, 3, 4, 6, 5, 7, 9, 8]

def asc_checker(lis):
  for i in range(len(lis)-1):
    if lis[i]>lis[i+1]:
      return False
  return True

print(asc_checker(lis))
print(asc_checker(lis1))

True
False

## Quesion 4
### **Tuples and its operations**
* Program for converting tuple to string
* Program to reverse a tuple

In [8]:
def tup_str(n):
  string = ""
  for i in tup:
    string = string + " " + i
  return string

tup = ('Hi', 'to', 'the', 'world', '!')

tup_str(tup)

' Hi to the world !'

In [9]:
def reverse_tuple(tuple_data):
    reversed_tuple = tuple_data[::-1]
    return reversed_tuple

# Example usage
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(my_tuple)

print(reversed_tuple)

(5, 4, 3, 2, 1)

## Quesion 5
### **Sets and its operations**
* Program to check if a set is a subset of the other set

In [10]:
def subset(set1, set2):
    for i in set1:
        if i not in set2:
            return False
    return True

# Example usage
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
set3 = {9, 10}


temp = subset(set2, set1)
print(temp)
temp = subset(set3, set1)
print(temp)

True
False

## Quesion 6
### **Dictionary and its operations**
* python program to iterate over dictionaries using for loop

In [11]:
my_dict = {'ram': 'sita', 'krishna': 'radha', 'shiva': 'parvati'}

# Iterating over the dictionary using a for loop
for key in my_dict:
    value = my_dict[key]
    print(key, ':', value)

ram : sita
krishna : radha
shiva : parvati